.bluebox {
    background-color: #40437c;
    color: #daffef;
}

.blue-container {
    background-color: #cccccc;
    padding: 30px 30px 30px 30px;
}

.content-background {
    background-color: #f5f5f5;
    color: #222222;
    padding: 80px 100px 200px 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.login-button {
    background-color: #40437c; /* Green */
    border: none;
    color: white;
    padding: 5px 30px 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.login-button:hover {
    background-color: #f4a259; /* Green */
    color: white;
}